.container {
  background-image: linear-gradient(to top, #a8edea 0%, #fed6e3 100%);
  border-radius: 20px;
  border-color: aqua;
}
h1 {
  font-family: "Ubuntu", sans-serif;
}
h2,
p {
  font-family: "Source Sans Pro", sans-serif;
}
p {
  font-size: 25px;
}
small {
  display: block;
  margin: 0 0 0 120px;
}
.description {
  text-transform: capitalize;
}
